<h2>New Blog</h2>
<%= form_with(model: @blog_post, method: :patch) do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :body %>
        <%= form.text_area :body %>
    </div>

    <div>
        <%= form.label :published_at %>
        <%= form.datetime_select :published_at, include_blank: true %>
    </div>
    <%= form.button %>
<% end %>